@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Open+Sans:wght@300;400;500;600;700&display=swap");

html,
body,
#root {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: "Open Sans", sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

input::placeholder {
  color: #cbd5e0;
}

button,
input,
select {
  border: none;
}

a {
  color: inherit;
}

input,
textarea {
  box-sizing: border-box;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none !important;
}

.mapboxgl-map {
  border-radius: 0.5rem;
}

html {
  font-size: 10px;
}

@media screen and (min-width: 320px) {
  html {
    font-size: calc(10px + 6 * ((100vw - 320px) / 1120));
  }
}

@media screen and (min-width: 1440px) {
  html {
    font-size: 15px;
  }
}
