@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Nunito:wght@300;400;700&family=Open+Sans&display=swap");

html,
body,
#root {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: Nunito;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

input::placeholder {
  color: #cbd5e0;
}

button,
input,
select {
  border: none;
}

a {
  color: inherit;
}

input {
  box-sizing: border-box;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none !important;
}
